<%= @header %>

<header class="row-fluid text-center">
  <h2>Contact Information</h2>
</header>
<section class="row-fluid text-center">
  <form action="/contact/delete/<%= @user.id %>" method="post">
    <fieldset disabled>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control edit-input" placeholder="<%= @user.name %>" disabled>
      </div>
      <div class="form-group">
        <label>Lastname:</label>
        <input type="text" class="form-control edit-input" placeholder="<%= @user.lastname %>" disabled>
      </div>
      <div class="form-group">
        <label>Phone:</label>
        <input type="tel" class="form-control edit-input" placeholder="<%= @user.phone %>" disabled>
      </div>
      <div class="form-group">
        <label>E-mail:</label>
        <input type="text" class="form-control edit-input" placeholder="<%= @user.email %>" disabled>
      </div>
    </fieldset disabled>

    <a href="/" class="btn btn-default">Back</a>
    <!-- <a href="/contato/<%= @user.id %>/editar" class="btn btn-info">Editar</a> -->
    <button type="submit" class="btn btn-danger">Delete</button>

  </form>
</section>
</body>
</html>
